<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Your Watch Sessions</h1>
    <%= link_to "New watch session", new_watch_session_path, class: "btn btn-primary" %>
  </div>

  <% if @watch_sessions.any? %>
    <div class="row g-3">
      <% @watch_sessions.each do |watch_session| %>
        <div class="col-12 col-md-6 col-lg-4">
          <%= render "card", watch_session: watch_session %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      No watch sessions yet. Start your first one!
    </div>
  <% end %>
</div>
