* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background: #0d0d0d;
  color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

.hero {
  min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('films.avif') center/cover no-repeat;
}

.hero-content {
  text-align: center;
  padding: 2rem;
}

.logo {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
}

.tagline {
  font-size: 1.3rem;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.description {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 2.5rem;
}

.btn-primary {
  display: inline-block;
  background: #403F4C;
  color: white;
  padding: 0.9rem 2.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btn-primary:hover {
  background: #f40612;
  transform: scale(1.03);
}
