<div class="hero">
  <div class="hero-content">
    <h1 class="logo"%>Filmy</h1>
    <p class="tagline">Forget Netflix. Forget Letterboxd.</p>

    <% if user_signed_in? %>
      <%= link_to "Start the session", new_watch_session_path, method: :post, class: "btn-primary" %>
    <% else %>
      <%= link_to "Start now", new_user_session_path, class: "btn-primary" %>
    <% end %>
  </div>
</div>
